<%- include("./partials/header") -%>

<div class="">

  <h1>Compose</h1>

  <form action="/create" method="post" id="flashcard-inputs-form">

    <% for(let i = 0; i < fields; i++) { %>

    <div class="flashcard-inputs">

      <div class="form-group">
        <h2><%= i + 1 + "." %></h2>
        <label for="questionInput">Question</label>
        <textarea class="form-control" name="questionInput" rows="1" cols="70"></textarea>
      </div>

      <div class="form-group">
        <label for="answerInput">Answer</label>
        <textarea class="form-control" name="answerInput" rows="1" cols="70"></textarea>
      </div>

      <div class="form-group">
        <label for="hintInput">Hint</label>
        <textarea class="form-control" name="hintInput" rows="1" cols="70"></textarea>
      </div>

    </div>

    <%}%>

    <div class="row padding">
    <div class="col-8">
      <button type="submit" name="createButton" class="btn btn-secondary btn-lg">Create</button>
    </form>
    </div>
    <div class="col-2">
      <form class="" action="/create" method="post">
        <button class="btn btn-secondary btn-lg" type="submit" name="add" form="flashcard-inputs-form">+</button>
      </form>
    </div>
    <div class="col-2">
      <form class="" action="/remove-field" method="post">
        <button class="btn btn-secondary btn-lg" type="submit" name="remove">-</button>
      </form>
    </div>
  </div>











</div>


<%- include("./partials/footer") -%>
