<%- include("./partials/header") -%>

<div class="">

  <h1>Compose</h1>

  <form action="/create" method="post" id="flashcardInputsForm">

    <div class="form-group">
      <label for="libraryTitle">Library Title</label>
      <input class="form-control" type="text" name="libraryTitle" value=""></input>
    </div>

    <div class="" id="inputContainer">

    <div class="flashcard-inputs" id="input">

      <div class="form-group">
        <label for="questionInput">Question</label>
        <textarea class="form-control" name="questionInput" rows="1" cols="70"></textarea>
      </div>

      <div class="form-group">
        <label for="answerInput">Answer</label>
        <textarea class="form-control" name="answerInput" rows="1" cols="70"></textarea>
      </div>

      <div class="form-group">
        <label for="hintInput">Hint</label>
        <textarea class="form-control" name="hintInput" rows="1" cols="70"></textarea>
      </div>

    </div>

      </div>

    <div class="row padding">
    <div class="col-8">
      <button type="submit" name="createButton" class="btn btn-secondary btn-lg" value="clicked">Create</button>
    </form>
    </div>
    <div class="col-2">

        <button class="btn btn-secondary btn-lg" name="addInput" id="addInput">+</button>

    </div>
    <div class="col-2">

        <button class="btn btn-secondary btn-lg" name="removeInput" id="removeInput">-</button>

    </div>
  </div>

  <script type="text/javascript">

    $("#addInput").click(function(){
      const div = document.getElementById('input');
      const clone = div.cloneNode(true);
      document.getElementById('inputContainer').appendChild(clone);
    });

    $("#removeInput").click(function(){
      const div = document.getElementById('inputContainer');
      div.removeChild(div.lastChild);
    });

  </script>

</div>


<%- include("./partials/footer") -%>
