<%- include("./partials/header") -%>

<div class="">

  <h1>Compose</h1>

  <form action="/create" method="post">

    <div class="form-group">
      <label for="libraryTitle">Library Title</label>
      <input class="form-control" type="text" name="libraryTitle" required></input>
    </div>

    <div class="" id="inputContainer">

    <div class="flashcard-inputs" id="input">

      <div class="form-group">
        <label for="questionInput">Question</label>
        <textarea class="form-control" name="questionInput" rows="1" cols="70" required></textarea>
      </div>

      <div class="form-group">
        <label for="answerInput">Answer</label>
        <textarea class="form-control" name="answerInput" rows="1" cols="70" required></textarea>
      </div>

      <div class="form-group">
        <label for="hintInput">Hint</label>
        <textarea class="form-control" name="hintInput" rows="1" cols="70" required></textarea>
      </div>

    </div>

      </div>

    <div class="row padding">
    <div class="col-8">
      <input type="submit" class="btn btn-secondary btn-lg" name="createButton" value="Create"></input>
    </form>
    </div>
    <div class="col-2">

        <button class="btn btn-secondary btn-lg"  id="addInput">+</button>

    </div>
    <div class="col-2">

        <button class="btn btn-secondary btn-lg" id="removeInput">-</button>

    </div>

  <script type="text/javascript">

    $("#addInput").click(function(){
      const div = document.getElementById('input');
      const clone = div.cloneNode(true);
      document.getElementById('inputContainer').appendChild(clone);
    });

    $("#removeInput").click(function(){
      const div = document.getElementById('inputContainer');

      // add code to prevent user from deleting the last child div
      div.removeChild(div.lastChild);
    });

  </script>


<%- include("./partials/footer") -%>
