<%- include("./partials/header") -%>


<section class="introduction">

<div class="container">
  <div class="row">
    <h2>Welcome to </h2>
    <h1 id="FLIP-title">FLIP!</h1>
  </div>

    <div class="row flashcardHomepageDiv">


      <div class="flashcardHomepage">
        <div class="flashcard-inner flashcard-hover" id="flashcardFrontPage">

          <div id="cardFaceFront" class="card-face front">
            <p class="homepageFlashcardMessage">Learning through the use of . . .</p>
          </div>

          <div id="cardFaceBack" class="card-face back">
            <p class="homepageFlashcardMessage">flashcards! 🤓 🧠 🙌</p>
          </div>

        </div>

      </div>
    </div>

  </div>

</section>

<%- include("./partials/footer") -%>
