<%- include("./partials/header") -%>

<h1>Library</h1>

<% if (libraries == '' || null) { %>

<h3>Opps... No libraries have been created yet.</h3>
<h3>Go to the <a href="/compose">compose page</a> to get started!</h3>

<%} else {%>
<% libraries.forEach(function(entry){%>

<div class="row">

  <div class="col-4">
    <h2> <%= entry.name %> </h2>
  </div>

  <div class="col-1">
    <input type="checkbox" name="" value=""></input>
  </div>

</div>

<%})%>
<%}%>


<%- include("./partials/footer") -%>
