<%- include("./partials/header") -%>

<h1>Deck Library</h1>

<% if (libraries == '' || null) { %>

  <p>Opps... No libraries have been created!</p>

<%} else {%>
<% libraries.forEach(function(entry){%>

  <h2> <%= entry.name %> </h2>

<%})%>


<%}%>


<%- include("./partials/footer") -%>
