/* ELEMENTS */
textarea {
  resize: none;
}

body {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

/* CLASSES */
.bg-navbar {
  background: linear-gradient(to bottom, #11324D 20%, #383E56 100%);
  width: 100%;
}

.navbar .navbar-nav .nav-link:hover {
  color: #00FFAB;
}

.btn .btn-secondary .btn-lg {
  background: black;
  color: white;
}

.footer {
  text-align: center;
  line-height: 50px;
  background: linear-gradient(to top, #11324D 20%, #383E56 100%);
  color: #859aa3;
  font-weight: 500;
  height: 50px;
  font-size: 0.8rem;
  bottom: 0;
  width: 100%;
  position: absolute;
  right: 0;
  left: 0;
}

.footer:hover {
  color: #00FFAB;
}

.compose-input {
  padding: 15px;
  margin-top: 10px;
}

.flashcard-inputs {
  border: 2px solid #11324D;
  border-radius: 16px;
  padding: 15px;
  margin: 20px
}

.padding {
  padding-bottom: 100px;
  padding-top: 20px
}

.library-entry {
  font-size: 24pt;
  color: #11324D;
  background-color: transparent;
  border: none;
  outline: none;
  
  transition: all 0.3s ease-in-out;
}

.library-entry:hover {
  transform: scale(1.1);
}

.flashcard {
  margin: 100px auto 0;
  width: 600px;
  height: 400px;
  perspective: 1000px;
}

.flashcard-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;

  position: relative;
}

.flashcard-inner.flip {
  transform: rotateY(-180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  transform: rotateY(-180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.front, .back {
  padding: 0 40px;
}

.create-button-div, .display-input-div, .display-button-div {
text-align: center;
}

.display-input-div, .display-button-div {
  padding-top: 40px;
}

.hidden {
  display:none;
}


/* IDS */
#flip-icon {
  height: 65px;
  width: 65px;
  margin-left: 20px;
}

#userAnswer {
  width: 600px;
  border-radius: 8px;
  border: 2px solid #11324D;
}

#flip-button {
  width: 150px;
  height: 50px;
}



/* # # # # # # # # # # FLIPCARD CSS # # # # # # # # # # */
